body {
	font-family: "open sans";
	font-weight: lighter;
	padding: 0;
	margin: 0;
}

h1 {
	font-weight: lighter;
	cursor: pointer;
}



.btn {
	background-color: #ffffff;
	border: 1px solid #ececec;
	box-shadow: 1px 2px 2px;
	color: black;
	height:200px;
	width: 200px;
	-webkit-border-radius:100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: all ease 300ms;
	-moz-transition: all ease 300ms;
	-ms-transition: all ease 300ms;
	-o-transition: all ease 300ms;
	transition: all ease 300ms;
}

.btn:hover{
	box-shadow: none;
	margin-top: 1px;
	margin-left: 2px;
	-webkit-transition: all ease 300ms;
	-moz-transition: all ease 300ms;
	-ms-transition: all ease 300ms;
	-o-transition: all ease 300ms;
	transition: all ease 300ms;
}

.container {
	margin: 0 auto;
	display: block;
	width: 80%;
}

.main-content {
	padding-top: 50px;
	height: 60vh;
	width: auto;
	position: relative;
}

.center {
	text-align: center;
	position: relative;
}


.text {
	font-size: 30px;
	margin-bottom: 15px;
	position: relative;
}
.text .inner {
	border: 2px solid;
	border-radius: 50px;
	padding: 20px;
	position: relative;
	display: inline-block;
}

.ng-show {

}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: inline-block;
	height: 60px;
	background: #ececec;
	line-height: 60px;
}