<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Battle Owl - vyfakátor</title>
		<link rel="stylesheet" href="./css/screen.css">
		<link rel="text/javascript" href="./js/script.js">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="./js/app.js"></script>
		<script src="./js/plugins.js"></script>
	</head>

	<body ng-app="Sven">

		<div ng-include="'./components/header.htm'"></div>


		<article>
			<section>
				<div class="container center">

					<div ng-show="myCheck" class="main-content">

						<div class="text">
							<div class="inner" id="text">
								<script src="./js/script.js"></script>
							</div>
						</div>

						<figure>
							<img src="./img/sven.png" alt="sven" class="" id="sven">
						</figure>

						<input type="button" id="askl" value="Zeptej se Svena" class="btn" onClick="talk()">

					</div>
					<div class="clickOnSven" ng-init="mySwitch=false">
						<div class="big">
							<label for="dontBeASven">
								Snadno se urážíš? Tak zaklikni tento checkbox -->
								<input type="checkbox" id="dontBeASven" ng-model="mySwitch">
							</label>
						</div>
						<div class="big">
							<label for="callSven">Chceš si na Vás stěžovat!
								<input type="checkbox" id="callSven" ng-model="myCheck" ng-disabled="mySwitch">
							</label>
						</div>
					</div>


				</div>

			</section>
		</article>


		<div ng-include="'./components/footer.htm'"></div>


	</body>
</html>